 /* Dark mode styles */
 body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}
/* Light mode styles (default) */
body.light-mode {
    background-color: #ffffff;
    color: #000000;
}
i {
    font-size: 32px; /* Adjust the size of the sun icon */
    float:right;
}
.my_profile{
margin-left:430px;
}
button{
    float:right;
}
img{
    width:300px;
    height:300px;
    border-radius:50%;
    box-shadow:1px 1px 1px 1px whitesmoke;
}
.info{
    margin-left:50px;
    /* border:1px solid azure; */
    height:240px;
    width:180px;
    padding:10px 10px 20px 20px;
    box-shadow:1px 1px 1px 1px;
    border-radius:20px;
    font-family:monospace;
}
.user-name{
    font-size: 28px;
    font-family:cursive;
}
.track{
    font-size:24px;
    font-family:cursive;
}
a{
    font-size:32px;
    margin-left:15px;
}

@media (max-width:768px) {
    .my_profile{
        margin-left:40px;
        }
    p{
        font-size:20px;
    }
    .info{
        height:270px;
    }
}