 /* Dark mode styles */
 body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}
/* Light mode styles (default) */
body.light-mode {
    background-color: #ffffff;
    color: #000000;
}
i {
    font-size: 32px; /* Adjust the size of the sun icon */
    float:right;
}
.my_profile{
margin-left:430px;
}
button{
    float:right;
}
img{
    width:300px;
    height:300px;
    border-radius:50%;
    box-shadow:1px 1px 1px 1px whitesmoke;
}
@media (max-width:768px) {
    .my_profile{
        margin-left:40px;
        }
    p{
        font-size:20px;
    }
}